<?xml version="1.0"?>
<!--
 * @author 18th DigiTech Team
 * @copyright Copyright (c) 2022 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_Buildbox
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Checkout\Controller\Cart\Delete" type="Eighteentech\Buildbox\Controller\Cart\Delete" />

    <!--To override cart template--> 
    <type name="Magento\Checkout\Block\Cart\AbstractCart">
        <plugin name="cart-item-override" type="Eighteentech\Buildbox\Block\Cart\AbstractCart" sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="cedapi_quote_to_order_item" type="Eighteentech\Buildbox\Model\Plugin\Quote\QuoteToOrderItem"/>
    </type>
</config>
